__pycache__
*.pyc
*egg-info
*.png
output/
outputs/
datasets/
debug_images/
pretrained_models/
submodules/
colmap/
diffusers/
reference_methods/
rgbx/model_cache/
x2rgb/model_cache/
rgb2x/model_cache/
model_cache/
vggt/
InstantSplat/
*.log
*.npy
gsplat/
NVIDIA-OptiX-SDK-9.0.0-linux64-x86_64/
nvdiffrast/
namespace_demo/
bvh/

